Resources/Inspire/exercise1/source_setup/OSOpenRoads.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmlxbt="http://www.opengis.net/gml/3.3/xbt" xmlns:highway="http://namespaces.os.uk/mastermap/highwayNetwork/1.0" xmlns:road="http://namespaces.os.uk/Open/Roads/1.0" xmlns:tn-ro="urn:x-inspire:specification:gmlas:RoadTransportNetwork:3.0" xmlns:os="http://namespaces.os.uk/product/1.0" targetNamespace="http://namespaces.os.uk/Open/Roads/1.0" elementFormDefault="qualified" version="1.0">
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.3/xbt" schemaLocation="http://schemas.opengis.net/gml/3.3/extdBaseTypes.xsd"/>
	<import namespace="urn:x-inspire:specification:gmlas:RoadTransportNetwork:3.0" schemaLocation="http://inspire.ec.europa.eu/schemas/tn-ro/3.0/RoadTransportNetwork.xsd"/>
	<import namespace="http://namespaces.os.uk/product/1.0" schemaLocation="https://www.ordnancesurvey.co.uk/xml/schema/product/1.0/OSProduct.xsd"/>
	<!--XML Schema document created by ShapeChange - http://shapechange.net/-->
	<element name="RoadLink" type="road:RoadLinkType" substitutionGroup="tn-ro:RoadLink">
		<annotation>
			<documentation>A feature which represents a part or all of a named or numbered road.</documentation>
		</annotation>
	</element>
	<complexType name="RoadLinkType">
		<complexContent>
			<extension base="tn-ro:RoadLinkType">
				<sequence>
					<element name="roadClassification" type="gml:CodeType">
						<annotation>
							<documentation>A classification of the accepted importance of a road that provides an indication of its expected usage and importance.</documentation>
						</annotation>
					</element>
					<element name="roadFunction" type="gml:CodeType">
						<annotation>
							<documentation>A alternative classification of the Road based on its usage.</documentation>
						</annotation>
					</element>
					<element name="formOfWay" type="gml:CodeType">
						<annotation>
							<documentation>A description of the RoadLink based on its nature or use.</documentation>
						</annotation>
					</element>
					<element name="roadClassificationNumber" type="string" minOccurs="0">
						<annotation>
							<documentation>The official road number assigned by the appropriate authority. Note that this includes at least one letter. For example ‘A329(M)</documentation>
						</annotation>
					</element>
					<element name="name1" type="gmlxbt:LanguageStringType" minOccurs="0">
						<annotation>
							<documentation>Name assigned to the road.
&lt;i&gt;Note 1: Where a road has a name in more than one language, this attribute will be the Welsh or Gaelic version.&lt;/i&gt;
&lt;i&gt;Note 2: where a feature has more than one name, the language of each name is provided as a 3 digit ISO 639-2 code ('eng', 'cym', 'gla').&lt;/i&gt;</documentation>
						</annotation>
					</element>
					<element name="name2" type="gmlxbt:LanguageStringType" minOccurs="0">
						<annotation>
							<documentation>An alternative name assigned to the road.
&lt;i&gt;Note 1: Where a road has a name in more than one language, this attribute will be the English version.&lt;/i&gt;
&lt;i&gt;Note 2: where a feature has more than one name, the language of each name is provided as a 3 digit ISO 639-2 code ('eng', 'cym', 'gla').&lt;/i&gt;</documentation>
						</annotation>
					</element>
					<element name="roadStructure" type="gml:CodeType" minOccurs="0">
						<annotation>
							<documentation>Identifies if this section of road passes through or over a physical structure.</documentation>
						</annotation>
					</element>
					<element name="length" type="gml:MeasureType">
						<annotation>
							<documentation>The calculated two dimensional length of the RoadLink in metres.</documentation>
						</annotation>
					</element>
					<element name="loop" type="boolean" default="false">
						<annotation>
							<documentation>Indicates if the RoadLink feature connects back on itself by having the same start and end roadNode.</documentation>
						</annotation>
					</element>
					<element name="primaryRoute" type="boolean">
						<annotation>
							<documentation>States if the RoadLink forms part of the Primary Route network.</documentation>
						</annotation>
					</element>
					<element name="trunkRoad" type="boolean">
						<annotation>
							<documentation>States if the RoadLink forms part of the Trunk Road network.</documentation>
						</annotation>
					</element>
					<element name="roadNameTOID" type="gml:ReferenceType" minOccurs="0">
						<annotation>
							<documentation>Identifier of the Road feature which holds the information about the road name the RoadLink forms part of in the OS Highways Network product.</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">highway:Road</targetElement>
							</appinfo>
						</annotation>
					</element>
					<element name="roadNumberTOID" type="gml:ReferenceType" minOccurs="0">
						<annotation>
							<documentation>Identifier of the Road feature which holds the information about the road classifcation number the RoadLink forms part of in the OS Highways Network product.</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">highway:Road</targetElement>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="RoadLinkPropertyType">
		<sequence minOccurs="0">
			<element ref="road:RoadLink"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="RoadNode" type="road:RoadNodeType" substitutionGroup="tn-ro:RoadNode">
		<annotation>
			<documentation>A point representing either the start/end of a highway or connectivity between two or more RoadLink features.</documentation>
		</annotation>
	</element>
	<complexType name="RoadNodeType">
		<complexContent>
			<extension base="tn-ro:RoadNodeType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="RoadNodePropertyType">
		<sequence minOccurs="0">
			<element ref="road:RoadNode"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="MotorwayJunction" type="road:MotorwayJunctionType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>A feature that represents the numbered motorway junction.</documentation>
		</annotation>
	</element>
	<complexType name="MotorwayJunctionType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="geometry" type="gml:PointPropertyType">
						<annotation>
							<documentation>The location of the node.</documentation>
						</annotation>
					</element>
					<element name="junctionNumber" type="string">
						<annotation>
							<documentation>The Motorway junction number designated by the National Authority (DfT)
&lt;i&gt;Note: For Example M3 J9&lt;/i&gt;
&lt;i&gt;Note 2: Where two Motorway Junctions meet there will be two features, for example M3 J2 and M25 J12&lt;/i&gt;</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="MotorwayJunctionPropertyType">
		<sequence minOccurs="0">
			<element ref="road:MotorwayJunction"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
