Resources/FMEUC22/Getting Started with GML, XML and Web Services/Data/fixm11-master/core/src/base/baseTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2012, US FAA & SESAR Joint Undertaking
===========================================
All rights reserved.

Redistribution and use in source and binary forms, with or without modification,
are permitted provided that the following conditions are met:
  * Redistributions of source code must retain the above copyright notice,
    this list of conditions and the disclaimer.
  * Redistributions in binary form must reproduce the above copyright notice,
    this list of conditions and the disclaimer in the documentation and/or
    other materials provided with the distribution.
  * Neither the names of the SESAR Joint Undertaking and the US FAA nor the names
    of their contributors may be used to endorse or promote products derived from
    this specification without specific prior written permission.

DISCLAIMER

THIS SPECIFICATION IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT,
INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,
BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA,
OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY
OF SUCH DAMAGE.

==========================================
Editorial note: this license is an instance of the BSD license template as provided
by the Open Source Initiative: http://www.opensource.org/licenses/bsd-license.php

Details on the US FAA: http://www.faa.gov/
Details on the SJU and its members: http://www.sesarju.eu/players/members
-->

<xsd:schema
   xmlns="http://www.w3.org/2001/XMLSchema"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:base="http://www.fixm.aero/base/1.0"
   targetNamespace="http://www.fixm.aero/base/1.0"
   elementFormDefault="qualified"
   attributeFormDefault="qualified"
   version="baseTypes:1.1-SNAPSHOT">
<!-- $Revision: 477 $ -->


    <xsd:annotation>
        <xsd:documentation>
            The types schema defines the representation of several physical quantities and
            measurements and utility types like counts and free text. Every quantity type
            carries a "uom" attribute that describes the units of measurements as an appropriate
            enumeration.
        </xsd:documentation>
    </xsd:annotation>

    <xsd:complexType name="VolumeType">
        <xsd:annotation>
            <xsd:documentation>
                The Volume type represents any volume measurement, in metric or imperial measurements.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:float">
                <xsd:attribute name="uom" type="base:VolumeMeasureType"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:simpleType name="VolumeMeasureType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="LITERS"/>
            <xsd:enumeration value="GALLONS"/>
            <xsd:enumeration value="QUART"/>
            <xsd:enumeration value="PINT"/>
            <xsd:enumeration value="OUNCE"/>
            <xsd:enumeration value="GRAM"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="WeightType">
        <xsd:annotation>
            <xsd:documentation>
                The Weight type represents any weight measurement, in metric or imperial measurements.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:float">
                <xsd:attribute name="uom" type="base:WeightMeasureType" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:simpleType name="WeightMeasureType">
        <xsd:restriction base="xsd:string">
     	    <xsd:enumeration value="GRAMS"/>
            <xsd:enumeration value="KILOGRAMS"/>
            <xsd:enumeration value="POUNDS"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="DistanceType">
        <xsd:annotation>
            <xsd:documentation>
                The Distance type represents any distance between two points in space, in metric or imperial measurements.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:float">
                <xsd:attribute name="uom" type="base:DistanceMeasureType" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:simpleType name="DistanceMeasureType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="NM"/>
            <xsd:enumeration value="MI"/>
            <xsd:enumeration value="KM"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="LengthType">
        <xsd:annotation>
            <xsd:documentation>
                The Length type represents any length measurement, in metric or imperial measurements.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:float">
                <xsd:attribute name="uom" type="base:LengthMeasureType" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:simpleType name="LengthMeasureType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="YD"/>
            <xsd:enumeration value="FT"/>
            <xsd:enumeration value="IN"/>
            <xsd:enumeration value="M"/>
            <xsd:enumeration value="CM"/>
            <xsd:enumeration value="MM"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="AirspeedType">
        <xsd:annotation>
            <xsd:documentation>
                The Airspeed type represents any airspeed measurement, in metric. imperial, or Mach units, as
                specified by the "uom" attribute.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:float">
                <xsd:attribute name="uom" type="base:AirspeedMeasureType" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>


    <xsd:simpleType name="AirspeedMeasureType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="MPH"/>
            <xsd:enumeration value="KPH"/>
            <xsd:enumeration value="KNOTS"/>
            <xsd:enumeration value="MACH"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="GroundspeedType">
        <xsd:annotation>
            <xsd:documentation>
                The Groundspeed type represents any ground speed measurement, in metric. or imperial, as
                specified by the "uom" attribute.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:float">
                <xsd:attribute name="uom" type="base:GroundspeedMeasureType" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:simpleType name="GroundspeedMeasureType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="KIAS"/>
            <xsd:enumeration value="KPH"/>
            <xsd:enumeration value="MPH"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="RadioFrequencyBase">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{3}.[0-9]"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="RadioFrequencyType">
        <xsd:annotation>
            <xsd:documentation>
                RadioFrequency is the designation of a communication frequency in the UHF, VHF, EHF bands
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="base:RadioFrequencyBase">
                <xsd:attribute name="uom" type="base:FrequencyMeasureType" use="required"/>
                <xsd:attribute name="band" type="base:FrequencyBandType" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:simpleType name="FrequencyMeasureType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="MHZ"/>
            <xsd:enumeration value="KHZ"/>
            <xsd:enumeration value="UNKNOWN"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="FrequencyBandType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="UHF"/>
            <xsd:enumeration value="VHF"/>
            <xsd:enumeration value="ELT"/>
            <xsd:enumeration value="UNKNOWN"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="CountType">
        <xsd:annotation>
            <xsd:documentation>
                Represents positive integer counts of objects. For counting, use this in preference
                to xsd:int.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="0"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="FreeTextType">
        <xsd:annotation>
            <xsd:documentation>
                Provides a standard representation for elements that may contain any text,
                such as comments and notes. Use this in preference to xsd:string.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>

    <xsd:complexType name="TemperatureType">
		<xsd:annotation>
			<xsd:documentation>
				Represents temperature on a specific scale
			</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:float">
				<xsd:attribute name="uom" type="base:TemperatureMeasureType" use="required" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:simpleType name="TemperatureMeasureType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="F" />
			<xsd:enumeration value="C" />
			<xsd:enumeration value="K" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="DimensionsType">
        <xsd:annotation>
            <xsd:documentation>
                Describes dimensions: weight, height, length
            </xsd:documentation>
             <xsd:appinfo source="fx:implements">Package Height</xsd:appinfo>
             <xsd:appinfo source="fx:implements">Package Length</xsd:appinfo>
             <xsd:appinfo source="fx:implements">Package Width</xsd:appinfo>
        </xsd:annotation>
         <xsd:sequence>
         	 <xsd:element name="height" type="base:LengthType" minOccurs="0" maxOccurs="1"/>
         	 <xsd:element name="length" type="base:LengthType" minOccurs="0" maxOccurs="1"/>
         	 <xsd:element name="width" type="base:LengthType" minOccurs="0" maxOccurs="1"/>
         </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
