Resources/FMEUC22/Getting Started with GML, XML and Web Services/Data/fixm11-master/core/src/base/baseAgent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2012, US FAA & SESAR Joint Undertaking
===========================================
All rights reserved.

Redistribution and use in source and binary forms, with or without modification,
are permitted provided that the following conditions are met:
  * Redistributions of source code must retain the above copyright notice,
    this list of conditions and the disclaimer.
  * Redistributions in binary form must reproduce the above copyright notice,
    this list of conditions and the disclaimer in the documentation and/or
    other materials provided with the distribution.
  * Neither the names of the SESAR Joint Undertaking and the US FAA nor the names
    of their contributors may be used to endorse or promote products derived from
    this specification without specific prior written permission.

DISCLAIMER

THIS SPECIFICATION IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT,
INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,
BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA,
OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY
OF SUCH DAMAGE.

==========================================
Editorial note: this license is an instance of the BSD license template as provided
by the Open Source Initiative: http://www.opensource.org/licenses/bsd-license.php

Details on the US FAA: http://www.faa.gov/
Details on the SJU and its members: http://www.sesarju.eu/players/members
-->


<xsd:schema
   xmlns="http://www.w3.org/2001/XMLSchema"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:base="http://www.fixm.aero/base/1.0"
   targetNamespace="http://www.fixm.aero/base/1.0"
   elementFormDefault="qualified"
   attributeFormDefault="qualified"
   version="baseAgent:1.1-SNAPSHOT">
   <!-- $Revision: 552 $ -->

  <xsd:include schemaLocation="./baseTypes.xsd"/>

   <xsd:annotation>
      <xsd:documentation>
         The Agent schema contains definitions of an abstract entity ("Agent") capable of acting
         independently, and the most obvious subtypes:

           Person for a natural person such as a pilot,
           Corporation for a commercial organization like an airline,
           Agency for a government organization like FAA or SESAR

         Schemas should use the concrete types to refer to a person or organization,
         and use Agent to represent something that can be either.
      </xsd:documentation>
   </xsd:annotation>

    <xsd:complexType name="AbstractAgentType" abstract="true">
        <xsd:annotation>
            <xsd:documentation>
                AbstractAgent is a generalization of people and agencies, and is used when either might be meant.
                Simple (unstructured) name and address are represented as string attributes. Structured name
                and address will eventually be represented as elements.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
	        <xsd:element name="name" type="base:NameType" minOccurs="1" maxOccurs="1" nillable="true"/>
	        <xsd:element name="address" type="base:AddressType" minOccurs="1" maxOccurs="1" nillable="true"/>
	        <xsd:element name="email" type="base:EmailAddressType" minOccurs="0" maxOccurs="1"/>
	        <xsd:element name="telephone" type="base:TelephoneNumberType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>

    </xsd:complexType>

    <xsd:complexType name="OrganizationType">
        <xsd:annotation>
            <xsd:documentation>
                An organization is an aggregation of individuals or other organizations
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="base:AbstractAgentType">
                <xsd:sequence>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="CorporationType">
        <xsd:annotation>
            <xsd:documentation>
                A corporation is a commercial organization.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="base:OrganizationType">
                <xsd:sequence>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="AgencyType">
        <xsd:annotation>
            <xsd:documentation>
                An agency is a government organization.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="base:OrganizationType">
                <xsd:sequence>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="PersonType">
        <xsd:annotation>
            <xsd:documentation>
                A Person represents a singular natural person.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="base:AbstractAgentType">
                <xsd:sequence>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

	 <xsd:complexType name="AddressType">
	        <xsd:annotation>
	            <xsd:documentation>
	                Represents an agent address. Allows a choice between
	                a simple and structured address.
	            </xsd:documentation>
	        </xsd:annotation>
			<xsd:choice>
				<xsd:element name="simpleAddress" type="base:SimpleAddressType" />
				<xsd:element name="structuredAddress" type="base:StructuredAddressType"/>
			</xsd:choice>
	 </xsd:complexType>

    <xsd:simpleType name="SimpleAddressType">
        <xsd:annotation>
            <xsd:documentation>
                Represents the unstructured address of an agent.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>

  <xsd:complexType name="StructuredAddressType" abstract="true">
        <xsd:annotation>
            <xsd:documentation>
              Represents a structured address. Corresponds to IATA standard.
            </xsd:documentation>
            <xsd:appinfo source="fx:implements">Postal Structured Address</xsd:appinfo>
            <xsd:appinfo source="fx:implements">Department</xsd:appinfo>
            <xsd:appinfo source="fx:implements">ZIP or Postal Code</xsd:appinfo>
            <xsd:appinfo source="fx:implements">Post Office Box</xsd:appinfo>
            <xsd:appinfo source="fx:implements">City Name</xsd:appinfo>
            <xsd:appinfo source="fx:implements">Region Name</xsd:appinfo>
            <xsd:appinfo source="fx:implements">Street</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <element name="postalBox" type="base:FreeTextType" minOccurs="0" maxOccurs="1"/>
          <element name="street" type="base:FreeTextType" minOccurs="1" maxOccurs="1"/>
          <element name="department" type="base:FreeTextType" minOccurs="0" maxOccurs="1"/>
          <element name="postalCode" type="base:FreeTextType" minOccurs="0" maxOccurs="1"/>
          <element name="stateRegionName" type="base:FreeTextType" minOccurs="0" maxOccurs="1"/>
          <element name="cityName" type="base:FreeTextType" minOccurs="1" maxOccurs="1"/>
          <element name="country" type="base:CountryType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

 <xsd:complexType name="CountryType">
	  	<xsd:annotation>
	  		<xsd:documentation>
	  			Contains the Code and Name of the location of the departure or
	  			destination country to Such as US: United States.
	  		</xsd:documentation>
	  		<xsd:appinfo source="fx:implements">Country Code</xsd:appinfo>
	  		<xsd:appinfo source="fx:implements">Country Name</xsd:appinfo>
	  	</xsd:annotation>
	       <xsd:sequence>
	       		<xsd:element name="countryCode" type="base:CountryCodeType" minOccurs="1" maxOccurs="1" />
				<xsd:element name="countryName" type="base:FreeTextType" minOccurs="0" maxOccurs="1" />
	       </xsd:sequence>
    </xsd:complexType>

	<xsd:simpleType name="CountryCodeType">
		<xsd:annotation>
	  		<xsd:documentation>
	  			Contains the ISO Country Code.
	  		</xsd:documentation>
	  	</xsd:annotation>
		<xsd:restriction base="base:FreeTextType">
  			<xsd:pattern value="[A-Z]{2}"/>
        </xsd:restriction>
	</xsd:simpleType>

	 <xsd:complexType name="NameType">
	        <xsd:annotation>
	            <xsd:documentation>
	                Represents an agent name. Allows a choice between
	                a simple and structured name.
	            </xsd:documentation>
	        </xsd:annotation>
			<xsd:choice>
				<xsd:element name="simpleName" type="base:SimpleNameType"/>
				<xsd:element name="structuredName" type="base:StructuredNameType"/>
			</xsd:choice>
	 </xsd:complexType>

    <xsd:simpleType name="SimpleNameType">
        <xsd:annotation>
            <xsd:documentation>
                Represents the unstructured name of an agent.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>

    <xsd:complexType name="StructuredNameType" abstract="true">
        <xsd:annotation>
            <xsd:documentation>
              Represents a structured name. Corresponds to IATA standard.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <element name="prefix" type="base:FreeTextType" minOccurs="0" maxOccurs="1"/>
          <element name="firstName" type="base:FreeTextType" minOccurs="1" maxOccurs="1"/>
          <element name="middleName" type="base:FreeTextType" minOccurs="0" maxOccurs="1"/>
          <element name="lastName" type="base:FreeTextType" minOccurs="1" maxOccurs="1"/>
          <element name="suffix" type="base:FreeTextType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="EmailAddressType">
        <xsd:annotation>
            <xsd:documentation>
                Represents the unstructured email address of an agent.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>

     <xsd:simpleType name="TelephoneNumberType">
        <xsd:annotation>
            <xsd:documentation>
                Represents the unstructured telephone number of an agent.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>

</xsd:schema>
