Data/OpenStreetMap/amenity.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:fme="http://www.safe.com/gml/fme" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.safe.com/gml/fme" elementFormDefault="qualified">
<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
<element name="amenity_pharmacy" type="fme:amenity_pharmacyType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_pharmacyType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="9"/>
</restriction>
</simpleType></element>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
<element ref="gml:surfaceProperty" minOccurs="0"/>
<element ref="gml:multiSurfaceProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_public_building" type="fme:amenity_public_buildingType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_public_buildingType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="16"/>
</restriction>
</simpleType></element>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
<element ref="gml:surfaceProperty" minOccurs="0"/>
<element ref="gml:multiSurfaceProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_post_office" type="fme:amenity_post_officeType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_post_officeType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="12"/>
</restriction>
</simpleType></element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_telephone" type="fme:amenity_telephoneType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_telephoneType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="10"/>
</restriction>
</simpleType></element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_fuel" type="fme:amenity_fuelType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_fuelType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="5"/>
</restriction>
</simpleType></element>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
<element ref="gml:surfaceProperty" minOccurs="0"/>
<element ref="gml:multiSurfaceProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_toilets" type="fme:amenity_toiletsType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_toiletsType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="8"/>
</restriction>
</simpleType></element>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
<element ref="gml:surfaceProperty" minOccurs="0"/>
<element ref="gml:multiSurfaceProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_dentist" type="fme:amenity_dentistType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_dentistType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="8"/>
</restriction>
</simpleType></element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_car_rental" type="fme:amenity_car_rentalType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_car_rentalType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="11"/>
</restriction>
</simpleType></element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_marketplace" type="fme:amenity_marketplaceType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_marketplaceType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="12"/>
</restriction>
</simpleType></element>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
<element ref="gml:surfaceProperty" minOccurs="0"/>
<element ref="gml:multiSurfaceProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_bench" type="fme:amenity_benchType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_benchType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="6"/>
</restriction>
</simpleType></element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_bus_station" type="fme:amenity_bus_stationType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_bus_stationType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="12"/>
</restriction>
</simpleType></element>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
<element ref="gml:surfaceProperty" minOccurs="0"/>
<element ref="gml:multiSurfaceProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_place_of_worship" type="fme:amenity_place_of_worshipType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_place_of_worshipType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="17"/>
</restriction>
</simpleType></element>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
<element ref="gml:surfaceProperty" minOccurs="0"/>
<element ref="gml:multiSurfaceProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_vending_machine" type="fme:amenity_vending_machineType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_vending_machineType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="16"/>
</restriction>
</simpleType></element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_restaurant" type="fme:amenity_restaurantType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_restaurantType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="11"/>
</restriction>
</simpleType></element>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
<element ref="gml:surfaceProperty" minOccurs="0"/>
<element ref="gml:multiSurfaceProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_conference_centre" type="fme:amenity_conference_centreType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_conference_centreType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="18"/>
</restriction>
</simpleType></element>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:surfaceProperty" minOccurs="0"/>
<element ref="gml:multiSurfaceProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_arts_centre" type="fme:amenity_arts_centreType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_arts_centreType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="12"/>
</restriction>
</simpleType></element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_atm" type="fme:amenity_atmType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_atmType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="4"/>
</restriction>
</simpleType></element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_car_wash" type="fme:amenity_car_washType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_car_washType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="9"/>
</restriction>
</simpleType></element>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
<element ref="gml:surfaceProperty" minOccurs="0"/>
<element ref="gml:multiSurfaceProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_university" type="fme:amenity_universityType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_universityType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="11"/>
</restriction>
</simpleType></element>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
<element ref="gml:surfaceProperty" minOccurs="0"/>
<element ref="gml:multiSurfaceProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_bar" type="fme:amenity_barType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_barType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="4"/>
</restriction>
</simpleType></element>
<element name="changeset" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="uid" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="visible" minOccurs="0" type="string"/>
<element name="user" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_cinema" type="fme:amenity_cinemaType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_cinemaType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="7"/>
</restriction>
</simpleType></element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_embassy" type="fme:amenity_embassyType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_embassyType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="8"/>
</restriction>
</simpleType></element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_clock" type="fme:amenity_clockType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_clockType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="6"/>
</restriction>
</simpleType></element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_ferry_terminal" type="fme:amenity_ferry_terminalType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_ferry_terminalType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="15"/>
</restriction>
</simpleType></element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_courthouse" type="fme:amenity_courthouseType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_courthouseType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="11"/>
</restriction>
</simpleType></element>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:surfaceProperty" minOccurs="0"/>
<element ref="gml:multiSurfaceProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_school" type="fme:amenity_schoolType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_schoolType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="7"/>
</restriction>
</simpleType></element>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
<element ref="gml:surfaceProperty" minOccurs="0"/>
<element ref="gml:multiSurfaceProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_fire_station" type="fme:amenity_fire_stationType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_fire_stationType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="13"/>
</restriction>
</simpleType></element>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
<element ref="gml:surfaceProperty" minOccurs="0"/>
<element ref="gml:multiSurfaceProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_cafe" type="fme:amenity_cafeType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_cafeType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="5"/>
</restriction>
</simpleType></element>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
<element ref="gml:surfaceProperty" minOccurs="0"/>
<element ref="gml:multiSurfaceProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_ice_cream" type="fme:amenity_ice_creamType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_ice_creamType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="10"/>
</restriction>
</simpleType></element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_bureau_de_change" type="fme:amenity_bureau_de_changeType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_bureau_de_changeType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="17"/>
</restriction>
</simpleType></element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_social_facility" type="fme:amenity_social_facilityType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_social_facilityType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="16"/>
</restriction>
</simpleType></element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="unknown_node" type="fme:unknown_nodeType" substitutionGroup="gml:_Feature"/>
<complexType name="unknown_nodeType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="uid" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="user" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_pub" type="fme:amenity_pubType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_pubType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="4"/>
</restriction>
</simpleType></element>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
<element ref="gml:surfaceProperty" minOccurs="0"/>
<element ref="gml:multiSurfaceProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_spa" type="fme:amenity_spaType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_spaType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="4"/>
</restriction>
</simpleType></element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_post_box" type="fme:amenity_post_boxType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_post_boxType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="9"/>
</restriction>
</simpleType></element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_bank" type="fme:amenity_bankType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_bankType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="5"/>
</restriction>
</simpleType></element>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
<element ref="gml:surfaceProperty" minOccurs="0"/>
<element ref="gml:multiSurfaceProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_drinking_water" type="fme:amenity_drinking_waterType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_drinking_waterType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="15"/>
</restriction>
</simpleType></element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_townhall" type="fme:amenity_townhallType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_townhallType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="9"/>
</restriction>
</simpleType></element>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:surfaceProperty" minOccurs="0"/>
<element ref="gml:multiSurfaceProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_college" type="fme:amenity_collegeType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_collegeType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="8"/>
</restriction>
</simpleType></element>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
<element ref="gml:surfaceProperty" minOccurs="0"/>
<element ref="gml:multiSurfaceProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_nightclub" type="fme:amenity_nightclubType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_nightclubType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="10"/>
</restriction>
</simpleType></element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_bicycle_parking" type="fme:amenity_bicycle_parkingType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_bicycle_parkingType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="16"/>
</restriction>
</simpleType></element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_car_sharing" type="fme:amenity_car_sharingType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_car_sharingType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="12"/>
</restriction>
</simpleType></element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_veterinary" type="fme:amenity_veterinaryType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_veterinaryType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="11"/>
</restriction>
</simpleType></element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_parking" type="fme:amenity_parkingType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_parkingType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="8"/>
</restriction>
</simpleType></element>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
<element ref="gml:surfaceProperty" minOccurs="0"/>
<element ref="gml:multiSurfaceProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_community_centre" type="fme:amenity_community_centreType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_community_centreType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="17"/>
</restriction>
</simpleType></element>
<element name="id" minOccurs="0" type="string"/>
<element name="uid" minOccurs="0" type="string"/>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="visible" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="user" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
<element ref="gml:surfaceProperty" minOccurs="0"/>
<element ref="gml:multiSurfaceProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_doctors" type="fme:amenity_doctorsType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_doctorsType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="8"/>
</restriction>
</simpleType></element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_library" type="fme:amenity_libraryType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_libraryType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="8"/>
</restriction>
</simpleType></element>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
<element ref="gml:surfaceProperty" minOccurs="0"/>
<element ref="gml:multiSurfaceProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_parking_entrance" type="fme:amenity_parking_entranceType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_parking_entranceType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="17"/>
</restriction>
</simpleType></element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_boat_rental" type="fme:amenity_boat_rentalType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_boat_rentalType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="12"/>
</restriction>
</simpleType></element>
<element name="id" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="k" minOccurs="0" type="string"/>
<element name="v" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element name="user" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_taxi" type="fme:amenity_taxiType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_taxiType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="5"/>
</restriction>
</simpleType></element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_fast_food" type="fme:amenity_fast_foodType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_fast_foodType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="10"/>
</restriction>
</simpleType></element>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
<element ref="gml:surfaceProperty" minOccurs="0"/>
<element ref="gml:multiSurfaceProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_waste_basket" type="fme:amenity_waste_basketType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_waste_basketType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="13"/>
</restriction>
</simpleType></element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_shelter" type="fme:amenity_shelterType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_shelterType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="8"/>
</restriction>
</simpleType></element>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
<element ref="gml:surfaceProperty" minOccurs="0"/>
<element ref="gml:multiSurfaceProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity" type="fme:amenityType" substitutionGroup="gml:_Feature"/>
<complexType name="amenityType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="14"/>
</restriction>
</simpleType></element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_fountain" type="fme:amenity_fountainType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_fountainType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="9"/>
</restriction>
</simpleType></element>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
<element ref="gml:surfaceProperty" minOccurs="0"/>
<element ref="gml:multiSurfaceProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_hospital" type="fme:amenity_hospitalType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_hospitalType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="9"/>
</restriction>
</simpleType></element>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
<element ref="gml:surfaceProperty" minOccurs="0"/>
<element ref="gml:multiSurfaceProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_police" type="fme:amenity_policeType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_policeType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="7"/>
</restriction>
</simpleType></element>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
<element ref="gml:surfaceProperty" minOccurs="0"/>
<element ref="gml:multiSurfaceProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="amenity_theatre" type="fme:amenity_theatreType" substitutionGroup="gml:_Feature"/>
<complexType name="amenity_theatreType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="amenity" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="8"/>
</restriction>
</simpleType></element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
</schema>
