Data/OpenStreetMap/highway.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:fme="http://www.safe.com/gml/fme" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:gml="http://www.opengis.net/gml" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.safe.com/gml/fme" elementFormDefault="qualified">
<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
<element name="unknown_node" type="fme:unknown_nodeType" substitutionGroup="gml:_Feature"/>
<complexType name="unknown_nodeType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="user" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="highway_elevator" type="fme:highway_elevatorType" substitutionGroup="gml:_Feature"/>
<complexType name="highway_elevatorType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="highway" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="9"/>
</restriction>
</simpleType></element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="highway_cycleway" type="fme:highway_cyclewayType" substitutionGroup="gml:_Feature"/>
<complexType name="highway_cyclewayType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="highway" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="9"/>
</restriction>
</simpleType></element>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="highway_secondary" type="fme:highway_secondaryType" substitutionGroup="gml:_Feature"/>
<complexType name="highway_secondaryType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="highway" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="10"/>
</restriction>
</simpleType></element>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="highway_crossing" type="fme:highway_crossingType" substitutionGroup="gml:_Feature"/>
<complexType name="highway_crossingType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="highway" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="9"/>
</restriction>
</simpleType></element>
<element name="id" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="k" minOccurs="0" type="string"/>
<element name="v" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element name="user" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="highway_stop" type="fme:highway_stopType" substitutionGroup="gml:_Feature"/>
<complexType name="highway_stopType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="highway" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="5"/>
</restriction>
</simpleType></element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="highway_steps" type="fme:highway_stepsType" substitutionGroup="gml:_Feature"/>
<complexType name="highway_stepsType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="highway" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="6"/>
</restriction>
</simpleType></element>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="highway_track" type="fme:highway_trackType" substitutionGroup="gml:_Feature"/>
<complexType name="highway_trackType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="highway" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="6"/>
</restriction>
</simpleType></element>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="highway_path" type="fme:highway_pathType" substitutionGroup="gml:_Feature"/>
<complexType name="highway_pathType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="highway" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="5"/>
</restriction>
</simpleType></element>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="highway_service" type="fme:highway_serviceType" substitutionGroup="gml:_Feature"/>
<complexType name="highway_serviceType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="highway" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="8"/>
</restriction>
</simpleType></element>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
<element ref="gml:surfaceProperty" minOccurs="0"/>
<element ref="gml:multiSurfaceProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="highway_tertiary" type="fme:highway_tertiaryType" substitutionGroup="gml:_Feature"/>
<complexType name="highway_tertiaryType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="highway" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="9"/>
</restriction>
</simpleType></element>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="highway_street_lamp" type="fme:highway_street_lampType" substitutionGroup="gml:_Feature"/>
<complexType name="highway_street_lampType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="highway" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="12"/>
</restriction>
</simpleType></element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="highway_mini_roundabout" type="fme:highway_mini_roundaboutType" substitutionGroup="gml:_Feature"/>
<complexType name="highway_mini_roundaboutType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="highway" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="16"/>
</restriction>
</simpleType></element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="highway_secondary_link" type="fme:highway_secondary_linkType" substitutionGroup="gml:_Feature"/>
<complexType name="highway_secondary_linkType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="highway" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="15"/>
</restriction>
</simpleType></element>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="highway_living_street" type="fme:highway_living_streetType" substitutionGroup="gml:_Feature"/>
<complexType name="highway_living_streetType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="highway" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="14"/>
</restriction>
</simpleType></element>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="highway_turning_circle" type="fme:highway_turning_circleType" substitutionGroup="gml:_Feature"/>
<complexType name="highway_turning_circleType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="highway" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="15"/>
</restriction>
</simpleType></element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="highway_primary" type="fme:highway_primaryType" substitutionGroup="gml:_Feature"/>
<complexType name="highway_primaryType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="highway" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="8"/>
</restriction>
</simpleType></element>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="highway_pedestrian" type="fme:highway_pedestrianType" substitutionGroup="gml:_Feature"/>
<complexType name="highway_pedestrianType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="highway" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="11"/>
</restriction>
</simpleType></element>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
<element ref="gml:surfaceProperty" minOccurs="0"/>
<element ref="gml:multiSurfaceProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="highway_residential" type="fme:highway_residentialType" substitutionGroup="gml:_Feature"/>
<complexType name="highway_residentialType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="highway" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="12"/>
</restriction>
</simpleType></element>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
<element ref="gml:surfaceProperty" minOccurs="0"/>
<element ref="gml:multiSurfaceProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="highway_unclassified" type="fme:highway_unclassifiedType" substitutionGroup="gml:_Feature"/>
<complexType name="highway_unclassifiedType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="highway" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="13"/>
</restriction>
</simpleType></element>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="highway_bridleway" type="fme:highway_bridlewayType" substitutionGroup="gml:_Feature"/>
<complexType name="highway_bridlewayType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="highway" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="10"/>
</restriction>
</simpleType></element>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="highway_footway" type="fme:highway_footwayType" substitutionGroup="gml:_Feature"/>
<complexType name="highway_footwayType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="highway" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="8"/>
</restriction>
</simpleType></element>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
<element ref="gml:surfaceProperty" minOccurs="0"/>
<element ref="gml:multiSurfaceProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="highway_traffic_signals" type="fme:highway_traffic_signalsType" substitutionGroup="gml:_Feature"/>
<complexType name="highway_traffic_signalsType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="highway" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="16"/>
</restriction>
</simpleType></element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="highway_primary_link" type="fme:highway_primary_linkType" substitutionGroup="gml:_Feature"/>
<complexType name="highway_primary_linkType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="highway" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="13"/>
</restriction>
</simpleType></element>
<element name="nd" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="ref" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:curveProperty" minOccurs="0"/>
<element ref="gml:multiCurveProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
<element name="highway_bus_stop" type="fme:highway_bus_stopType" substitutionGroup="gml:_Feature"/>
<complexType name="highway_bus_stopType">
<complexContent>
<extension base="gml:AbstractFeatureType">
<sequence>
<element name="highway" minOccurs="0">
<simpleType>
<restriction base="string">
<maxLength value="9"/>
</restriction>
</simpleType></element>
<element name="uid" minOccurs="0" type="string"/>
<element name="changeset" minOccurs="0" type="string"/>
<element name="tag" minOccurs="0" maxOccurs="unbounded">
<complexType>
<sequence>
<element name="v" minOccurs="0" type="string"/>
<element name="k" minOccurs="0" type="string"/>
</sequence>
</complexType>
</element>
<element name="user" minOccurs="0" type="string"/>
<element name="id" minOccurs="0" type="string"/>
<element name="version" minOccurs="0" type="string"/>
<element name="timestamp" minOccurs="0" type="string"/>
<element name="visible" minOccurs="0" type="string"/>
<element ref="gml:pointProperty" minOccurs="0"/>
<element ref="gml:multiPointProperty" minOccurs="0"/>
</sequence>
</extension>
</complexContent>
</complexType>
</schema>
