Resources/FMEUC22/Getting Started with GML, XML and Web Services/Data/fixm11-master/core/src/fx/fxAircraftNavigationCapability.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Copyright (c) 2012, US FAA & SESAR Joint Undertaking
===========================================
All rights reserved.

Redistribution and use in source and binary forms, with or without modification,
are permitted provided that the following conditions are met:
  * Redistributions of source code must retain the above copyright notice,
    this list of conditions and the disclaimer.
  * Redistributions in binary form must reproduce the above copyright notice,
    this list of conditions and the disclaimer in the documentation and/or
    other materials provided with the distribution.
  * Neither the names of the SESAR Joint Undertaking and the US FAA nor the names
    of their contributors may be used to endorse or promote products derived from
    this specification without specific prior written permission.

DISCLAIMER

THIS SPECIFICATION IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT,
INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,
BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA,
OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY
OF SUCH DAMAGE.

==========================================
Editorial note: this license is an instance of the BSD license template as provided
by the Open Source Initiative: http://www.opensource.org/licenses/bsd-license.php

Details on the US FAA: http://www.faa.gov/
Details on the SJU and its members: http://www.sesarju.eu/players/members
-->


<xsd:schema
   xmlns="http://www.w3.org/2001/XMLSchema"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:fx="http://www.fixm.aero/fx/1.0"
   xmlns:base="http://www.fixm.aero/base/1.0"
   targetNamespace="http://www.fixm.aero/fx/1.0"
   elementFormDefault="qualified"
   attributeFormDefault="qualified"
   version="fxNavigationCapability:1.1-SNAPSHOT">
<!-- $Revision: 566 $ -->

    <xsd:annotation>
        <xsd:documentation>
            The navigation and approach capabilities of an aircraft."Capability" refers not only
            to the equipment needed for the function, but to the ability of the crew to employ that equipment.
            The "standard" attribute indicates that the aircraft carries the set of capabilities
            considered normal by the appropriate authority.
        </xsd:documentation>
    </xsd:annotation>

    <xsd:import namespace="http://www.fixm.aero/base/1.0" schemaLocation="../base/base.xsd"/>

    <xsd:complexType name="NavigationCapabilitiesType">
        <xsd:annotation>
            <xsd:appinfo source="fx:implements">Navigation Capabilities</xsd:appinfo>
            <xsd:documentation>
                The overall navigation and approach aid capabilities.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="base:AbstractFeatureType">
                <xsd:sequence>
                    <xsd:element name="navigationCodes" type="fx:NavigationCodeListType" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="performanceBasedCodes" type="fx:PerformanceBasedCodeListType" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="otherNavigationCapabilities" type="base:FreeTextType" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

   <xsd:simpleType name="NavigationCodeListType">
        <xsd:annotation>
        <xsd:documentation>
            Flat list of ICAO Navigation capability codes.
        </xsd:documentation>
        </xsd:annotation>
      <xsd:list itemType="fx:NavigationCodeType"/>
   </xsd:simpleType>

   <xsd:simpleType name="PerformanceBasedCodeListType">
        <xsd:annotation>
        <xsd:documentation>
            Flat list of ICAO performance based navigation capability codes.
        </xsd:documentation>
        </xsd:annotation>
      <xsd:list itemType="fx:PerformanceBasedCodeType"/>
   </xsd:simpleType>

    <xsd:simpleType name="NavigationCodeType">
        <xsd:annotation>
            <xsd:documentation>
                ICAO Navigation capability code.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A">
                <xsd:annotation>
                    <xsd:documentation>
                        GBAS - Ground Based Augmentation System
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="B">
                <xsd:annotation>
                    <xsd:documentation>
                        LPV (APV with SBAS) - Space Based Augmentation System approach procedures
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="C">
                <xsd:annotation>
                    <xsd:documentation>
                        LORAN C transmitter
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
             <xsd:enumeration value="D">
                <xsd:annotation>
                    <xsd:documentation>
                        DME - Distance Measuring Capability
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="F">
                <xsd:annotation>
                    <xsd:documentation>
                        ADF - Automatic Direction Finder
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="G">
                <xsd:annotation>
                    <xsd:documentation>
                        GNSS - Global Navigation Satellite System
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="I">
                <xsd:annotation>
                    <xsd:documentation>I
                        Inertial Navigation System
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
             <xsd:enumeration value="K">
                <xsd:annotation>
                    <xsd:documentation>
                        MLS - Microwave Landing System
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
             <xsd:enumeration value="L">
                <xsd:annotation>
                    <xsd:documentation>I
                        ILS - Instrument landing system
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="O">
                <xsd:annotation>
                    <xsd:documentation>
                        VOR - VHF Omnidirectional Range
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="T">
                <xsd:annotation>
                    <xsd:documentation>
                        TACAN - Tactical Air Navigation System
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
             <xsd:enumeration value="W">
                <xsd:annotation>
                    <xsd:documentation>
                        RVSM approved - Reduced Vertical Separation Minimum
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="X">
                <xsd:annotation>
                    <xsd:documentation>
                        MNPS approved - Minimum Navigation Performance Specification
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="PerformanceBasedCodeType">
        <xsd:annotation>
            <xsd:appinfo source="fx:implements">Performance-Based Navigation Capabilities</xsd:appinfo>
            <xsd:documentation>
                ICAO performance based navigation capability code.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="A1">
                <xsd:annotation>
                    <xsd:documentation>
                        RNAV 10 (RNP 10)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="B1">
                <xsd:annotation>
                    <xsd:documentation>
                        RNAV 5 all permitted sensors
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="B2">
                <xsd:annotation>
                    <xsd:documentation>
                        RNAV 5 GNSS
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="B3">
                <xsd:annotation>
                    <xsd:documentation>
                        RNAV 5 DME/DME
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>                    
            <xsd:enumeration value="B4">
                <xsd:annotation>
                    <xsd:documentation>
                        RNAV 5 VOR/DME
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="B5">
                <xsd:annotation>
                    <xsd:documentation>
                        RNAV 5 INS or IRS
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>    
            <xsd:enumeration value="B6">
                <xsd:annotation>
                    <xsd:documentation>
                        RNAV 5 LORANC
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="C1">
                <xsd:annotation>
                    <xsd:documentation>
                        RNAV 2 all permitted sensors
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="C2">
                <xsd:annotation>
                    <xsd:documentation>
                        RNAV 2 GNSS
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="C3">
                <xsd:annotation>
                    <xsd:documentation>
                        RNAV 2 DME/DME
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="C4">
                <xsd:annotation>
                    <xsd:documentation>
                        RNAV 2 DME/DME/IRU
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="D1">
                <xsd:annotation>
                    <xsd:documentation>
                        RNAV 1 all permitted sensors
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="D2">
                <xsd:annotation>
                    <xsd:documentation>
                        RNAV 1 GNSS
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="D3">
                <xsd:annotation>
                    <xsd:documentation>
                        RNAV 1 DME/DME
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="D4">
                <xsd:annotation>
                    <xsd:documentation>
                        RNAV 1 DME/DME/IRU
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>            
            <xsd:enumeration value="L1">
                <xsd:annotation>
                    <xsd:documentation>
                        RNP 4
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="O1">
                <xsd:annotation>
                    <xsd:documentation>
                        Basic RNP 1 all permitted sensors
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="O2">
                <xsd:annotation>
                    <xsd:documentation>
                        Basic RNP 1 GNSS
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="O3">
                <xsd:annotation>
                    <xsd:documentation>
                        Basic RNP 1 DME/DME
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="O4">
                <xsd:annotation>
                    <xsd:documentation>
                        Basic RNP 1 DME/DME/IRU
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="S1">
                <xsd:annotation>
                    <xsd:documentation>
                        RNP APCH
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="S2">
                <xsd:annotation>
                    <xsd:documentation>
                        RNP APCH with BARO-VNAV
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="T1">
                <xsd:annotation>
                    <xsd:documentation>
                        RNP AR APCH with RF (special authorization required)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="T2">
                <xsd:annotation>
                    <xsd:documentation>
                        RNP AR APCH without RF (special authorization required)
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
