Resources/FMEUC22/Getting Started with GML, XML and Web Services/Data/fixm11-master/core/src/fx/fxAircraftSurvivalCapability.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
Copyright (c) 2012, US FAA & SESAR Joint Undertaking
===========================================
All rights reserved.

Redistribution and use in source and binary forms, with or without modification,
are permitted provided that the following conditions are met:
  * Redistributions of source code must retain the above copyright notice,
    this list of conditions and the disclaimer.
  * Redistributions in binary form must reproduce the above copyright notice,
    this list of conditions and the disclaimer in the documentation and/or
    other materials provided with the distribution.
  * Neither the names of the SESAR Joint Undertaking and the US FAA nor the names
    of their contributors may be used to endorse or promote products derived from
    this specification without specific prior written permission.

DISCLAIMER

THIS SPECIFICATION IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT,
INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,
BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA,
OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY
OF SUCH DAMAGE.

==========================================
Editorial note: this license is an instance of the BSD license template as provided
by the Open Source Initiative: http://www.opensource.org/licenses/bsd-license.php

Details on the US FAA: http://www.faa.gov/
Details on the SJU and its members: http://www.sesarju.eu/players/members
-->


<xsd:schema
   xmlns="http://www.w3.org/2001/XMLSchema"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:fx="http://www.fixm.aero/fx/1.0"
   xmlns:base="http://www.fixm.aero/base/1.0"
   targetNamespace="http://www.fixm.aero/fx/1.0"
   elementFormDefault="qualified"
   attributeFormDefault="qualified"
   version="fxAircraftSurvivalCapability:1.1-SNAPSHOT">
<!-- $Revision: 566 $ -->


    <xsd:import namespace="http://www.fixm.aero/base/1.0" schemaLocation="../base/base.xsd"/>

    <xsd:annotation>
        <xsd:documentation>
            Provides elements for describing the emergency equipment and capabilities of an aircraft.
            "Capability" refers not only to the equipment needed for the function, but to the
            ability of the crew to employ that equipment.
        </xsd:documentation>
    </xsd:annotation>

    <xsd:complexType name="SurvivalCapabilitiesType">
        <xsd:annotation>
            <xsd:appinfo source="fx:implements">Survival Equipment Type</xsd:appinfo>
            <xsd:appinfo source="fx:implements">Survival Equipment Remarks</xsd:appinfo>
            <xsd:appinfo source="fx:implements">Emergency Radio Transmitter Type</xsd:appinfo>
            <xsd:documentation>
                The collection of all survival capabilities available to the aircraft
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="base:AbstractFeatureType">
                <xsd:sequence>
                    <xsd:element name="dinghies" type="fx:DinghyType" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="emergencyRadioCodes" type="fx:EmergencyRadioCodeListType" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="lifejacketCodes" type="fx:LifejacketCodeListType" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="survivalEquipmentCodes" type="fx:SurvivalEquipmentCodeListType" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="survivalEquipmentRemarks" type="base:FreeTextType" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

   <xsd:simpleType name="SurvivalEquipmentCodeListType">
      <xsd:annotation>
         <xsd:documentation>
            Flat list of survival equipment capabilities.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:list itemType="fx:SurvivalEquipmentCodeType" />
   </xsd:simpleType>

    <xsd:simpleType name="SurvivalEquipmentCodeType">
        <xsd:annotation>
            <xsd:documentation>
                The kinds of all survival equipment types available to the aircraft
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
        	<xsd:enumeration value="P">
        	 <xsd:annotation>
                    <xsd:documentation>
                        Polar survival equipment
                    </xsd:documentation>
                </xsd:annotation>
        	</xsd:enumeration>
            <xsd:enumeration value="D">
             <xsd:annotation>
                    <xsd:documentation>
                        Desert survival equipment
                    </xsd:documentation>
                </xsd:annotation>
        	</xsd:enumeration>
            <xsd:enumeration value="M">
             <xsd:annotation>
                    <xsd:documentation>
                        Maritime survival equipment
                    </xsd:documentation>
                </xsd:annotation>
        	</xsd:enumeration>
            <xsd:enumeration value="J">
             <xsd:annotation>
                    <xsd:documentation>
                        Jungle survival equipment
                    </xsd:documentation>
                </xsd:annotation>
        	</xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

   <xsd:simpleType name="EmergencyRadioCodeListType">
      <xsd:annotation>
         <xsd:documentation>
            Flat list of emergency radio types (ICAO codes).
         </xsd:documentation>
      </xsd:annotation>
      <xsd:list itemType="fx:EmergencyRadioCodeType" />
   </xsd:simpleType>

    <xsd:simpleType name="EmergencyRadioCodeType">
        <xsd:annotation>
            <xsd:documentation>
                The collection of all emergency radio types (ICAO codes) and units available to the aircraft
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="U">
                <xsd:annotation>
                    <xsd:documentation>
                        UHF
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="V">
                <xsd:annotation>
                    <xsd:documentation>
                        VHF
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="E">
                <xsd:annotation>
                    <xsd:documentation>
                        ELT
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

   <xsd:simpleType name="LifejacketCodeListType">
      <xsd:annotation>
         <xsd:documentation>
            Flat list of life jacket types available to the aircraft.
         </xsd:documentation>
      </xsd:annotation>
      <xsd:list itemType="fx:LifejacketCodeType" />
   </xsd:simpleType>

    <xsd:simpleType name="LifejacketCodeType">
        <xsd:annotation>
            <xsd:documentation>
                Type of life jacket available to the aircraft.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="F">
                <xsd:annotation>
                    <xsd:documentation>
                        Life jacket equipped with fluorescent markings.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="V">
                <xsd:annotation>
                    <xsd:documentation>
                        Life jacket equipped with VHF.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="L">
                <xsd:annotation>
                    <xsd:documentation>
                        Life jacket equipped with lights.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
            <xsd:enumeration value="U">
                <xsd:annotation>
                    <xsd:documentation>
                        Life jacket equipped with UHF.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:enumeration>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="DinghyType">
        <xsd:annotation>
            <xsd:appinfo source="fx:implements">Dinghy Quantity</xsd:appinfo>
            <xsd:appinfo source="fx:implements">Dinghy Total Capacity</xsd:appinfo>
            <xsd:appinfo source="fx:implements">Dinghy Color</xsd:appinfo>
            <xsd:appinfo source="fx:implements">Dinghy Cover Status</xsd:appinfo>
            <xsd:documentation>
                Description of all dinghy available to the aircraft
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="totalCapacity" type="base:CountType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="count" type="base:CountType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="covered" type="fx:DinghyCoverType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="colour" type="fx:DinghyColourType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="DinghyColourType">
        <xsd:annotation>
            <xsd:documentation>
                Dominant color of dinghy on the aircraft
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="RED"/>
            <xsd:enumeration value="ORANGE"/>
            <xsd:enumeration value="YELLOW"/>
            <xsd:enumeration value="GREEN"/>
            <xsd:enumeration value="BLUE"/>
            <xsd:enumeration value="VIOLET"/>
            <xsd:enumeration value="BLACK"/>
            <xsd:enumeration value="WHITE"/>
            <xsd:enumeration value="GRAY"/>
            <xsd:enumeration value="SILVER"/>
            <xsd:enumeration value="OTHER"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="DinghyCoverType">
        <xsd:annotation>
            <xsd:documentation>
                Dinghies are or are not covered.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="COVERED"/>
            <xsd:enumeration value="NOT_COVERED"/>
            <xsd:enumeration value="UNKNOWN"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
