Resources/FMEUC22/Getting Started with GML, XML and Web Services/Data/fixm11-master/core/src/fx/fxDangerousGoods.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (c) 2012, US FAA & SESAR Joint Undertaking
===========================================
All rights reserved.

Redistribution and use in source and binary forms, with or without modification,
are permitted provided that the following conditions are met:
  * Redistributions of source code must retain the above copyright notice,
    this list of conditions and the disclaimer.
  * Redistributions in binary form must reproduce the above copyright notice,
    this list of conditions and the disclaimer in the documentation and/or
    other materials provided with the distribution.
  * Neither the names of the SESAR Joint Undertaking and the US FAA nor the names
    of their contributors may be used to endorse or promote products derived from
    this specification without specific prior written permission.

DISCLAIMER

THIS SPECIFICATION IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED.
IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT,
INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,
BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA,
OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY
OF SUCH DAMAGE.

==========================================
Editorial note: this license is an instance of the BSD license template as provided
by the Open Source Initiative: http://www.opensource.org/licenses/bsd-license.php

Details on the US FAA: http://www.faa.gov/
Details on the SJU and its members: http://www.sesarju.eu/players/members
-->

<xsd:schema
   xmlns="http://www.w3.org/2001/XMLSchema"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:gml="http://www.opengis.net/gml/3.2"
   xmlns:fx="http://www.fixm.aero/fx/1.0"
   xmlns:base="http://www.fixm.aero/base/1.0"
   targetNamespace="http://www.fixm.aero/fx/1.0"
   elementFormDefault="qualified"
   attributeFormDefault="qualified"
   version="fxDangerousGoods:1.1-SNAPSHOT">

   <!-- $Revision: 560 $ -->

  <xsd:import namespace="http://www.fixm.aero/base/1.0" schemaLocation="../base/base.xsd"/>
  <xsd:include schemaLocation="fxAerodrome.xsd"/>

      <xsd:complexType name="DangerousGoodsType">
        <xsd:annotation>
            <xsd:documentation>
            	Describes Dangerous Goods Cargo. The DangerousGoodsType is
            	the root element for all the elements pertaining to dangerous goods.
            	The elements such as shipment and package details are grouped
            	into higher level elements and are navigable from this element.
            </xsd:documentation>
            <xsd:appinfo source="fx:implements">IATA Shipper's Declaration For Dangerous Goods</xsd:appinfo>
            <xsd:appinfo source="fx:implements">Shipper's Declaration For Dangerous Goods Header</xsd:appinfo>
            <xsd:appinfo source="fx:implements">Shipper's Declaration For Dangerous Goods Packaging Detail</xsd:appinfo>
            <xsd:appinfo source="fx:implements">Air Waybill Number</xsd:appinfo>
            <xsd:appinfo source="fx:implements">Onboard  Hazardous Cargo Location</xsd:appinfo>
            <xsd:appinfo source="fx:implements">Aircraft Dangerous Goods Limitation</xsd:appinfo>
            <xsd:appinfo source="fx:implements">Shipment Type</xsd:appinfo>
            <xsd:appinfo source="fx:implements">Additional Handling Information</xsd:appinfo>
            <xsd:appinfo source="fx:implements">Emergency Response Guidebook Number</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="base:AbstractFeatureType">
                <xsd:sequence>
                	 <xsd:element name="airWayBill" type="fx:AirWaybillType" minOccurs="1" maxOccurs="1"/>
					 <xsd:element name="onBoardHazardousCargoLocation" type="base:FreeTextType" minOccurs="0" maxOccurs="1"/>
                	 <xsd:element name="dangerousGoodsLimitation" type="fx:AircraftDangerousGoodsLimitationType" minOccurs="1" maxOccurs="1"/>
                	 <xsd:element name="shipmentType" type="fx:ShipmentTypeType" minOccurs="1" maxOccurs="1"/>
					 <xsd:element name="dangerousGoodsPackageGroup" type="fx:DangerousGoodsPackageGroupType" minOccurs="1" maxOccurs="unbounded"/>
                	 <xsd:element name="shippingInformation" type="fx:ShippingInformationType" minOccurs="1" maxOccurs="1"/>
                	 <xsd:element name="handlingInformation" type="fx:AdditionalHandlingInformationType" minOccurs="0" maxOccurs="1"/>
                	 <xsd:element name="guidebookNumber" type="fx:EmergencyResponseGuidebookNumberType" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

	<xsd:complexType name="ShippingInformationType">
		<xsd:annotation>
			<xsd:documentation>
				A type that groups several elements describing the package shipper,
			    receiver, and route of transfer airports.
			</xsd:documentation>
            <xsd:appinfo source="fx:implements">Aerodrome of Loading</xsd:appinfo>
            <xsd:appinfo source="fx:implements">Aerodrome of Unloading</xsd:appinfo>
            <xsd:appinfo source="fx:implements">Departure Country</xsd:appinfo>
            <xsd:appinfo source="fx:implements">Destination Country</xsd:appinfo>
            <xsd:appinfo source="fx:implements">Dangerous Goods Screening Location</xsd:appinfo>
            <xsd:appinfo source="fx:implements">Transfer Aerodromes</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="consignee" type="fx:ConsigneeType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="shipper" type="fx:ShipperType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="aerodromeOfLoading" type="fx:AerodromeReferenceType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="aerodromeOfUnloading" type="fx:AerodromeReferenceType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="originCountry" type="base:CountryType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="destinationCountry" type="base:CountryType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="transferAerodromes" type="fx:TransferAerodromesType" minOccurs="0" maxOccurs="1" />
			<xsd:element name="shipmentAuthorizations" type="fx:ShipmentAuthorizationsType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="dangerousGoodsScreeningLocation" type="base:FreeTextType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="declarationText" type="fx:DeclarationTextType" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="DangerousGoodsPackageGroupType">
		<xsd:annotation>
			<xsd:documentation>
				Contains a group of dangerous goods packages. Describes the
				packaging and shipping dimensions of the package group.
			</xsd:documentation>
			<xsd:appinfo source="fx:implements">All Packed in One</xsd:appinfo>
			<xsd:appinfo source="fx:implements">Exclusive Use Shipment Indicator</xsd:appinfo>
			<xsd:appinfo source="fx:implements">Dangerous Goods List of Line Item Detail</xsd:appinfo>
			<xsd:appinfo source="fx:implements">Dangerous Goods List of Package Detail</xsd:appinfo>

		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="shipmentDimensions" type="fx:ShipmentDimensionsType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="shipmentUseIndicator" type="fx:ShipmentUseType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="dangerousGoodsPackage" type="fx:DangerousGoodsPackageType" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="DangerousGoodsPackageType">
		<xsd:annotation>
			<xsd:documentation>
				Describes each package of dangerous goods.
			</xsd:documentation>
			<xsd:appinfo source="fx:implements">Dangerous Goods Package Details</xsd:appinfo>
			<xsd:appinfo source="fx:implements">Dangerous Goods List of Overpack Detail</xsd:appinfo>
			<xsd:appinfo source="fx:implements">Shipper's Declaration For Dangerous Goods Line Item Details</xsd:appinfo>
			<xsd:appinfo source="fx:implements">United Nations Number</xsd:appinfo>
			<xsd:appinfo source="fx:implements">Product Name</xsd:appinfo>
			<xsd:appinfo source="fx:implements">Proper Shipping Name</xsd:appinfo>
			<xsd:appinfo source="fx:implements">Technical Name</xsd:appinfo>
			<xsd:appinfo source="fx:implements">Compatibility Group</xsd:appinfo>
			<xsd:appinfo source="fx:implements">Hazard Class and Division</xsd:appinfo>
			<xsd:appinfo source="fx:implements">Packing Group</xsd:appinfo>
			<xsd:appinfo source="fx:implements">Reportable Quantity</xsd:appinfo>
			<xsd:appinfo source="fx:implements">Subsidiary Hazard Class and Division</xsd:appinfo>
			<xsd:appinfo source="fx:implements">Marine Pollutant Indicator</xsd:appinfo>
            <xsd:appinfo source="fx:implements">Packing Instruction Number</xsd:appinfo>
            <xsd:appinfo source="fx:implements">Overpack Indicator</xsd:appinfo>
            <xsd:appinfo source="fx:implements">Supplementary Information</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
		    <xsd:element name="unNumber" type="fx:UnitedNationsNumberType" minOccurs="1" maxOccurs="1"/>
		    <xsd:element name="productName" type="base:FreeTextType" minOccurs="1" maxOccurs="1"/>
		    <xsd:element name="technicalName" type="base:FreeTextType" minOccurs="0"/>
			<xsd:element name="properShippingName" type="base:FreeTextType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="dangerousGoodsLimitation" type="fx:AircraftDangerousGoodsLimitationType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="shipmentType" type="fx:ShipmentTypeType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="hazardClassAndDivision" type="fx:HazardClassDivisionType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="compatibilityGroup" type="fx:CompatibilityGroupType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="subsidiaryHazardClass" type="fx:SubsidiaryHazardClassDivisionType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="radioactiveMaterials" type="fx:RadioactiveMaterialsType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="packingGroup" type="fx:PackagingGroupType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="reportableQuantity" type="fx:ReportableQuantityType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="packageQuantityAndType" type="fx:QuantityAndTypeOfPackagingType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="packingInstructionNumber" type="fx:PackingInstructionNumberType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="marinePollutantIndicator" type="fx:MarinePollutantIndicatorType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="temperatures" type="fx:TemperaturesType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="allPackedInOne" type="fx:AllPackedInOneType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="packageDimensions" type="base:DimensionsType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="shipmentDimensions" type="fx:ShipmentDimensionsType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="supplementaryInformation" type="base:FreeTextType" minOccurs="0"/>
		</xsd:sequence>
			<xsd:attribute name="overpackIndicator" type="fx:OverpackIndicatorType"/>
	</xsd:complexType>

	<xsd:complexType name="TemperaturesType">
		<xsd:annotation>
			<xsd:documentation>
				Describes the temperatures of the materials.
			</xsd:documentation>
			<xsd:appinfo source="fx:implements">Control Temperature</xsd:appinfo>
			<xsd:appinfo source="fx:implements">Emergency Temperature</xsd:appinfo>
			<xsd:appinfo source="fx:implements">Flashpoint</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			  <xsd:element name="controlTeperature" type="base:TemperatureType" minOccurs="0" maxOccurs="1" />
			  <xsd:element name="emergencyTemperature" type="base:TemperatureType" minOccurs="0" maxOccurs="1" />
			  <xsd:element name="flashpointTemperature" type="base:TemperatureType" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="RadioactiveMaterialsType">
		<xsd:annotation>
			<xsd:documentation>
				Groups the description of Radioactive materials.
			</xsd:documentation>
			<xsd:appinfo source="fx:implements">Radioactive Materials</xsd:appinfo>
			<xsd:appinfo source="fx:implements">Radioactive Material Category</xsd:appinfo>
			<xsd:appinfo source="fx:implements">Criticality Safety Index</xsd:appinfo>
		    <xsd:appinfo source="fx:implements">Fissile Excepted Indicator</xsd:appinfo>
			<xsd:appinfo source="fx:implements">Transport Index</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="radionuclide" type="fx:RadionuclideType" minOccurs="1" maxOccurs="1"/>
		    <xsd:element name="category" type="fx:RadioactiveMaterialCategoryType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="transportIndex" type="fx:TransportIndexType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="criticalitySafetyIndex" type="fx:CriticalitySafetyIndexType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="fissileExceptedIndicator" type="fx:FissileExceptedType" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="RadionuclideType">
		<xsd:annotation>
			<xsd:documentation>
				The sub-grouping element for Radioactive Materials
			</xsd:documentation>
			<xsd:appinfo source="fx:implements">Radionuclide</xsd:appinfo>
			<xsd:appinfo source="fx:implements">Radionuclide ID</xsd:appinfo>
			<xsd:appinfo source="fx:implements">Radionuclide Name</xsd:appinfo>
			<xsd:appinfo source="fx:implements">Low Dispersible Material Indicator</xsd:appinfo>
			<xsd:appinfo source="fx:implements">Physical and Chemical Form</xsd:appinfo>
			<xsd:appinfo source="fx:implements">Special Form Indicator</xsd:appinfo>
			<xsd:appinfo source="fx:implements">Activity</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="radionuclideId" type="fx:RadionuclideIdType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="radionuclideName" type="fx:RadionuclideNameType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="activity" type="fx:RadioactiveMaterialActivityType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="lowDispersibleMaterialIndicator" type="fx:MaterialDispersabilityType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="physicalChemicalForm" type="base:FreeTextType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="specialFormIndicator" type="fx:SpecialFormType" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="TransferAerodromesType">
		<xsd:annotation>
			<xsd:documentation>
				List of transfer airports in the delivery process.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="fx:AerodromeCodeType"/>
	</xsd:simpleType>

	<xsd:complexType name="AdditionalHandlingInformationType">
		<xsd:annotation>
			<xsd:documentation>
				Details from the Additional Handling Information field on the Shipper's Declaration for Dangerous Goods.
				Includes "Control Temperature" for substances stabilized by temperature control,
				or name and telephone number of a responsible person for infectious substances.
			</xsd:documentation>
			<xsd:appinfo source="fx:implements">Additional Handling Information: Other Information</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="responsibleAgent" type="base:AbstractAgentType" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

	 <xsd:simpleType name="AircraftDangerousGoodsLimitationType">
	  	<xsd:annotation>
	  		<xsd:documentation>
	  			Describes whether the shipment is packed to comply with the limitations prescribed
	  			for passenger and cargo aircraft or the limitations for cargo aircraft only.
	  		</xsd:documentation>
	  	</xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="PASSENGER_AND_CARGO_AIRCRAFT"/>
            <xsd:enumeration value="CARGO_AIRCRAFT_ONLY"/>
        </xsd:restriction>
    </xsd:simpleType>

	 <xsd:simpleType name="FissileExceptedType">
	  	<xsd:annotation>
	  		<xsd:documentation>
	  			Indicates if Fissile is excepted.
	  		</xsd:documentation>
	  	</xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="EXCEPTED"/>
            <xsd:enumeration value="NOT_EXCEPTED"/>
        </xsd:restriction>
    </xsd:simpleType>

    	 <xsd:simpleType name="ShipmentUseType">
	  	<xsd:annotation>
	  		<xsd:documentation>
	  			Indicates whether the shipment is exclusive or not exclusive use.
	  		</xsd:documentation>
	  	</xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="EXCLUSIVE"/>
            <xsd:enumeration value="NOT_EXCLUSIVE"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="ConsigneeType">
        <xsd:annotation>
            <xsd:documentation>
                Used to identify who is receiving the dangerous good.
                In the event of an emergency, the consignee may need to be contacted.
            </xsd:documentation>
            <xsd:appinfo source="fx:implements">Consignee Name</xsd:appinfo>
			<xsd:appinfo source="fx:implements">Consignee Name and Address</xsd:appinfo>
			<xsd:appinfo source="fx:implements">Consignee Contact Name</xsd:appinfo>
            <xsd:appinfo source="fx:implements">Consignee Address</xsd:appinfo>
            <xsd:appinfo source="fx:implements">Consignee Phone Number</xsd:appinfo>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="base:AbstractAgentType">
                <xsd:sequence>
                	<element name="contactName" type="base:NameType" minOccurs="0" maxOccurs="1" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="ShipperType">
	<xsd:annotation>
		<xsd:documentation>
			Used to identify who is responsible for shipping the dangerous good.
			In the event of an emergency, the shipper may need to be contacted.
		</xsd:documentation>
		<xsd:appinfo source="fx:implements">Shipment Authorizations</xsd:appinfo>
        <xsd:appinfo source="fx:implements">Shipper Name and Address</xsd:appinfo>
        <xsd:appinfo source="fx:implements">Shipper Emergency Phone Number</xsd:appinfo>
        <xsd:appinfo source="fx:implements">Shipper Name</xsd:appinfo>
	</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="base:AbstractAgentType">
				<xsd:sequence>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

     <xsd:simpleType name="CriticalitySafetyIndexType">
	  	<xsd:annotation>
	  		<xsd:documentation>
	  			Used to identify radioactive material.
	  		</xsd:documentation>
	  	</xsd:annotation>
        <xsd:restriction base="xsd:string">
  			<xsd:pattern value="CSI\d+\.\d"/>
        </xsd:restriction>
    </xsd:simpleType>

	 <xsd:complexType name="DeclarationTextType">
	  	<xsd:annotation>
	  		<xsd:documentation>
	  			Groups the consignor, shipper and compliance declaration
	  			text elements
	  		</xsd:documentation>
	  		<xsd:appinfo source="fx:implements">Declaration Text: Compliance</xsd:appinfo>
	  		<xsd:appinfo source="fx:implements">Declaration Text: Consignor</xsd:appinfo>
	  		<xsd:appinfo source="fx:implements">Declaration Text: Shipper</xsd:appinfo>
	  	</xsd:annotation>
	       <xsd:sequence>
	       		<xsd:element name="compliance" type="base:FreeTextType" minOccurs="1" maxOccurs="1" />
				<xsd:element name="consignor" type="base:FreeTextType" minOccurs="1" maxOccurs="1" />
				<xsd:element name="shipper" type="base:FreeTextType" minOccurs="1" maxOccurs="1" />
	       </xsd:sequence>
    </xsd:complexType>

	<xsd:simpleType name="HazardClassDivisionType">
		<xsd:annotation>
            <xsd:documentation>
               A number assigned to a dangerous good by the United Nations.
            </xsd:documentation>
			<xsd:appinfo source="fx:implements">Hazardous Materials Class and Divisions</xsd:appinfo>
        </xsd:annotation>
		<xsd:restriction base="xsd:string">
  			<xsd:pattern value="[1-9](\\.[1-9][A-Z]?)?"/>
        </xsd:restriction>
	</xsd:simpleType>

 	<xsd:simpleType name="OverpackIndicatorType">
 		<xsd:annotation>
            <xsd:documentation>
               Indicates whether individual packages are assembled into a
               single unit for handling.
            </xsd:documentation>
			<xsd:appinfo source="fx:implements">Hazardous Materials Class and Divisions</xsd:appinfo>
       </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="OVERPACK_USED"/>
            <xsd:enumeration value="OVERPACK_NOT_USED"/>
        </xsd:restriction>
    </xsd:simpleType>

     <xsd:complexType name="ShipmentDimensionsType">
        <xsd:annotation>
            <xsd:documentation>
                Describes the shipment dimensions: gross weight, net weight, volume
            </xsd:documentation>
            <xsd:appinfo source="fx:implements">Dangerous Gross Weight</xsd:appinfo>
            <xsd:appinfo source="fx:implements">Dangerous Goods Net Weight</xsd:appinfo>
            <xsd:appinfo source="fx:implements">Dangerous Goods Volume</xsd:appinfo>
        </xsd:annotation>
         <xsd:sequence>
         	 <xsd:element name="grossWeight" type="base:WeightType" minOccurs="0" maxOccurs="1"/>
         	 <xsd:element name="netWeight" type="base:WeightType" minOccurs="0" maxOccurs="1"/>
         	 <xsd:element name="volume" type="base:VolumeType" minOccurs="0" maxOccurs="1"/>
         </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="QuantityAndTypeOfPackagingType">
        <xsd:annotation>
            <xsd:documentation>
                Describes the package package quantity and packing type.
            </xsd:documentation>
            <xsd:appinfo source="fx:implements">Dangerous Goods Quantity</xsd:appinfo>
            <xsd:appinfo source="fx:implements">Package Type</xsd:appinfo>
            <xsd:appinfo source="fx:implements">Dangerous Goods Type of Packaging</xsd:appinfo>
        </xsd:annotation>
         <xsd:sequence>
         	 <xsd:element name="dangerousGoodsquantity" type="xsd:int" minOccurs="0" maxOccurs="1"/>
         	 <xsd:element name="typeOfPackagning" type="base:FreeTextType" minOccurs="0" maxOccurs="1"/>
         </xsd:sequence>
    </xsd:complexType>

	<xsd:simpleType name="PackagingGroupType">
		<xsd:annotation>
            <xsd:documentation>
                An indication of the relative degree of danger presented by
                various articles and substances within a class or division.
                Roman numerals I, II and III are used to represent high danger,
                medium danger, and low danger respectively.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="I"/>
            <xsd:enumeration value="II"/>
            <xsd:enumeration value="III"/>
            <xsd:enumeration value="OTHER"/>
            <xsd:enumeration value="UNKNOWN"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="MaterialDispersabilityType">
		<xsd:annotation>
            <xsd:documentation>
              Provides a notation that the material is
              "low dispersible radioactive material."
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="LOW_DISPERSIBLE"/>
            <xsd:enumeration value="NOT_LOW_DISPERSIBLE"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="PackingInstructionNumberType">
		<xsd:annotation>
            <xsd:documentation>
               The packing instruction number applicable to the
               UN number / Proper Shipping Name entry. A three-numeric value
               which may be preceded by the letter "Y".
            </xsd:documentation>
        </xsd:annotation>
		<xsd:restriction base="xsd:string">
  			<xsd:pattern value="Y?[0-9]{3}"/>
        </xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="QValueType">
		<xsd:annotation>
            <xsd:documentation>
               Most instances of "All packed in one" will require the addition
               of the Q-value which less than or equal to 1. The Q-value must
               be calculated when shippers pack different dangerous goods in the
               same outer packaging for air shipment. The Q-value calculated must be
               rounded up to the first decimal place.
            </xsd:documentation>
        </xsd:annotation>
		<xsd:restriction base="xsd:double">
  			<xsd:minInclusive value="0.0"></xsd:minInclusive>
  			<xsd:maxInclusive value="1.0"></xsd:maxInclusive>
        </xsd:restriction>
	</xsd:simpleType>

    <xsd:simpleType name="ShipmentTypeType">
		<xsd:annotation>
            <xsd:documentation>
            Describes whether the package is radioactive or not.
            Hardcoded "Radioactive" or "Non-Radioactive"
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="RADIOACTIVE"/>
            <xsd:enumeration value="NOT_RADIOACTIVE"/>
        </xsd:restriction>
    </xsd:simpleType>

     <xsd:simpleType name="MarinePollutantIndicatorType">
		<xsd:annotation>
            <xsd:documentation>
            An indicator if the transported dangerous goods have marine pollutant content.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="MARINE_POLLUTANT"/>
            <xsd:enumeration value="NOT_MARINE_POLLUTANT"/>
        </xsd:restriction>
    </xsd:simpleType>

	<xsd:simpleType name="RadioactiveMaterialCategoryType">
		<xsd:annotation>
			<xsd:documentation>
				A category of the package, overpack or freight container, i.e.
				I-White, II-Yellow, III-Yellow
            </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="I-WHITE" />
			<xsd:enumeration value="II-YELLOW" />
			<xsd:enumeration value="III-YELLOW" />
		</xsd:restriction>
	</xsd:simpleType>

    <xsd:simpleType name="SubsidiaryHazardClassDivisionType">
		<xsd:annotation>
            <xsd:documentation>
               Identifies the subsidiary hazard class / division identification
               containing a numeric field separated by a decimal. There may
               be 0, 1, or 2 subsidiary risk classes or divisions. If there is
               more than one, each should be separated by a comma. The
               subsidiary risk must be shown in parentheses. Example: (2.1), (3.8)
            </xsd:documentation>
        </xsd:annotation>
		<xsd:restriction base="xsd:string">
  			<xsd:pattern value="(\([0-9]\.[0-9]\))"/>
        </xsd:restriction>
	</xsd:simpleType>

    <xsd:simpleType name="TransportIndexType">
		<xsd:annotation>
            <xsd:documentation>
               A figure representing the radiation level measured at 1 meter
               from the package.
            </xsd:documentation>
        </xsd:annotation>
		<xsd:restriction base="xsd:string">
  			<xsd:pattern value="TI[0-9]\.[0-9]"/>
        </xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="UnitedNationsNumberType">
		<xsd:annotation>
            <xsd:documentation>
              A six-character alphanumeric string consisting of the characters
              "UN" or "ID," as appropriate, followed by the four digit number
              assigned by the United Nations Committee of Experts on the
              Transport of Dangerous Goods to identify a substance or a
              particular group of substances.
            </xsd:documentation>
        </xsd:annotation>
		<xsd:restriction base="xsd:string">
  			<xsd:pattern value="[UN|ID]\d{4}"/>
        </xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="ShipmentAuthorizationsType">
		<xsd:annotation>
			<xsd:documentation>
				Contains additional information relating to an approval,
				permission, or other specific detail relating to the commodity
				(e.g., Dangerous Goods in excepted quantities). Should be used
				for Special Permit numbers (required by 49 CFR 172.203a) and
				Special Provision numbers in the US.
            </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="base:FreeTextType"/>
	</xsd:simpleType>

	<xsd:simpleType name="RadionuclideNameType">
		<xsd:annotation>
            <xsd:documentation>
           	The name or symbol of radionuclide. Examples: Sr-90, Iridium-192
            </xsd:documentation>
        </xsd:annotation>
		<xsd:restriction base="xsd:string">
  			<xsd:pattern value="[a-zA-Z]*\-[0-9]*"/>
        </xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="RadionuclideIdType">
		<xsd:annotation>
            <xsd:documentation>
           	Identification number of each radionuclide or for mixtures of radionuclides
            </xsd:documentation>
        </xsd:annotation>
		<xsd:restriction base="xsd:string">
  			<xsd:pattern value="[UN|ID]?[0-9]{4}"/>
        </xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="RadioactiveMaterialActivityType">
		<xsd:annotation>
            <xsd:documentation>
           	The measure of the decay rate, or activity, of a radioactive material.
            </xsd:documentation>
        </xsd:annotation>
	  	<xsd:simpleContent>
 		<xsd:extension base="xsd:float">
 			 <xsd:attribute name="uom" type="fx:HazardousMaterialMeasureType" use="required"/>
 		 </xsd:extension>
        </xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="AllPackedInOneType">
		<xsd:annotation>
            <xsd:documentation>
           	Identifies that the dangerous goods listed are all contained in the same outer packaging.
            </xsd:documentation>
            <xsd:appinfo source="fx:implements">Q Value</xsd:appinfo>
        </xsd:annotation>
	  	<xsd:simpleContent>
 		<xsd:extension base="xsd:string">
 			 <xsd:attribute name="numberOfPackages" type="xsd:int" use="required"/>
 			 <xsd:attribute name="qValue" type="fx:QValueType" use="required"/>
 		 </xsd:extension>
        </xsd:simpleContent>
	</xsd:complexType>

	 <xsd:simpleType name="SpecialFormType">
	  	<xsd:annotation>
	  		<xsd:documentation>
	  			A notation that the material is "special form". Special Form
	  			is used to describe radioactive material which is in a sealed
	  			integral form and so cannot, for all practical purposes, produce
	  			 radioactive contamination.
	  		</xsd:documentation>
	  	</xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="SPECIAL_FORM"/>
            <xsd:enumeration value="NOT_SPECIAL_FORM"/>
        </xsd:restriction>
    </xsd:simpleType>

     <xsd:simpleType name="CompatibilityGroupType">
		<xsd:annotation>
            <xsd:documentation>
          Specifies the reference to the group which identifies the kind of
          substances and articles that are deemed to be compatible. Explosive
          Dangerous Goods have compatibility group letters assigned to
          facilitate segregation during transport. The letters used range from
          A to S excluding the letters I, M, O, P, Q and R.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-H|J|K|L|N|S]"/>
        </xsd:restriction>
    </xsd:simpleType>

       <xsd:complexType name="ReportableQuantityType">
        <xsd:annotation>
            <xsd:documentation>
               Reportable Quantity (RQ) is is the amount of hazardous substance
               (pounds, kilograms, Curie [Ci], or Terabecquerel [TBq]) that has
               to be released into the environment before the EPA requires
               notification of the release to the National Response Center.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:float">
                <xsd:attribute name="uom" type="fx:HazardousMaterialMeasureType" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

     <xsd:simpleType name="HazardousMaterialMeasureType">
        <xsd:restriction base="xsd:string">
       		<xsd:enumeration value="GRAMS"/>
            <xsd:enumeration value="KILOGRAMS"/>
            <xsd:enumeration value="POUNDS"/>
            <xsd:enumeration value="CURIE"/>
            <xsd:enumeration value="BECQUEREL"/>
            <xsd:enumeration value="TERABECQUEREL"/>
        </xsd:restriction>
    </xsd:simpleType>

	<xsd:simpleType name="AirWaybillType">
		<xsd:annotation>
			<xsd:documentation>
				An air waybill (AWB) is a contract between the shipper and
				airline that states the terms and conditions of transportation.
				(IATA) It is a receipt and evidence of the carriage of goods,
				but is not a document of title to the goods.
            </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string" />
	</xsd:simpleType>

	 <xsd:simpleType name="EmergencyResponseGuidebookNumberType">
		<xsd:annotation>
           <xsd:documentation>
          	The Emergency Response Guidebook provides first responders with a
          	go-to manual to help deal with hazmat accidents during the critical
          	first 30 minutes. It is often called the "Little Orange Book".
          	It can be searched by UN # or Guidebook Number.
           </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[#\d+|\d+]"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>